<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.anets.system.mapper.DictMapper">
    <select id="getChildren" resultType="top.anets.system.entity.Dict">
        select * from dict where  deleted = 0
        <if test="parent != null and parent !=''" >
            and   parent_id = #{parent}
        </if>
        <if test="parent == null" >
            and   parent_id is  null
        </if>   order by sort asc,update_time desc
    </select>
</mapper>
